/*
 * ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗
 * ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
 * ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
 * ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
 * ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ███████║   ██║      ██║   ███████╗███████╗
 *  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
**/

@import "waybar-colors.css";

/* -----------------------------------------------------
 * GENERAL
 * -----------------------------------------------------
**/
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 500;
  font-size: 14px;
  min-height: 20px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

tooltip {
  background: @tooltip-bg;
  border-radius: 7px;
}
tooltip label {
  color: @foreground;
}

.module {
  background: @background;
  color: @foreground;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

/* -----------------------------------------------------
 * LEFT MODULES
 * -----------------------------------------------------
**/
/* LAUNCHER MODULE */
#custom-launcher {
  color: @highlight-blue;
  padding-right: 13.5px;
}

/* WORKSPACE MODULE */
#workspaces {
  padding-left: 5px;
  padding-right: 5px;
}
#workspaces button {
  color: @foreground;
  padding-left: 4px;
  padding-right: 5px;
}

#workspaces button.empty {
  color: @workspace;
}

#workspaces button.active {
  color: @active;
}

/* SYSTEM INFO MODULES */
#cpu {
  border-radius: 7px 0 0 7px;
  margin-right: 0;
}
#cpu.warning {
  color: @highlight-orange;
}
#cpu.critical {
  color: @urgent;
}

#memory {
  border-radius: 0px;
  margin-left: 0;
  margin-right: 0;
}
#memory.warning {
  color: @highlight-orange;
}
#memory.critical {
  color: @urgent;
}

#disk {
  border-radius: 0px 7px 7px 0px;
  margin-left: 0;
}
#disk.warning {
  color: @highlight-orange;
}
#disk.critical {
  color: @urgent;
}

/* TRAY MODULE */
#tray {
  background: transparent;
  border: 2px solid @foreground;
}

/* WINDOW MODULE */
/* #window {
} */

/* -----------------------------------------------------
 * CENTER MODULES
 * -----------------------------------------------------
**/
/* TIME/DATE MODULE */
#clock {
}

/* -----------------------------------------------------
 * RIGHT MODULES
 * -----------------------------------------------------
**/
/* PACMAN MODULE */
#custom-pacman {
}

/* NETWORK MODULE */
#network {
  margin-right: 2.5px;
}
#network.wifi,
#network.ethernet,
#network.linked {
  background: @active;
  color: @background;
}
#network.disconnected {
  background: @urgent;
  color: @background;
  padding-right: 15px;
}
#network.disabled {
  padding-right: 15px;
}

/* BLUETOOTH MODULE */
#bluetooth {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
#bluetooth.on,
#bluetooth.connected {
  background: @highlight-blue;
  color: @background;
}
#bluetooth.discoverable {
  background: @highlight-yellow;
  color: @background;
}
#bluetooth.discovering {
  background: @highlight-aqua;
  color: @background;
}
#bluetooth.pairable {
  background: @highlight-purple;
  color: @background;
}

/* PULSEAUDIO MODULE */
#pulseaudio {
  border-radius: 7px 0px 0px 7px;
  margin-left: 2.5px;
  margin-right: 0;
}
#pulseaudio.microphone {
  border-radius: 0px 7px 7px 0px;
  margin-left: 0;
  margin-right: 2.5px;
}

/* BACKLIGHT MODULE */
#backlight {
  margin-left: 2.5px;
}

/* BATTERY MODULE */
#battery {
}
#battery.plugged {
  background: @active;
  color: @background;
}
#battery.charging {
  background: @highlight-yellow;
  color: @background;
}
#battery.warning {
  background: @highlight-orange;
  color: @background;
}
#battery.critical {
  background: @urgent;
  color: @background;
}
