/*
 * ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗
 * ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
 * ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗  
 * ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
 * ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ███████║   ██║      ██║   ███████╗███████╗
 *  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
**/


@import 'waybar-colors.css';

* {
  border-radius: 0px;
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: 500;
  font-size: 14px;
  min-height: 20px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

tooltip {
  background: @tooltip-bg;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#workspaces button {
  padding: 5px;
  color: @workspace;
  margin-right: 5px;
}

#workspaces button.active {
  color: @foreground;
}

#window,
#clock,
#battery,
#mpris,
#pulseaudio,
#custom-pacman,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#mpd,
#custom-pomodoro,
#cpu,
#memory,
#disk,
#custom-spotify,
#custom-launcher,

#modbackground {
  background: @background;
  color: @foreground;
  opacity: 1;
  padding: 0px 7px;
  margin-top: 5px;
  margin-bottom: 6px;
}

#backlight {
  color: @foreground;
  background: @background;
  border-radius: 7px 7px 7px 7px;
  opacity: 1;
  padding: 0px 7px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
}

#pulseaudio {
  border-radius: 7px 0px 0px 7px;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#cpu {
  border-radius: 7px 0px 0px 7px;
  margin-left: 5px;
}

#memory {
  border-radius: 0px;
}

#disk {
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#tray {
  border-radius: 7px;
  margin-right: 5px;
  margin-left: 10px;
  background: transparent;
}

#workspaces {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

#window {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 60px;
}

#clock {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 0px;
}

#network {
  border-radius: 7px;
  margin-right: 15px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  border-radius: 7px;
  margin-right: 5px;
}

#bluetooth.on, #bluetooth.connected {
  background: @highlight-blue;
  color: @background;
}

#bluetooth.discoverable {
  background: @highlight-yellow;
  color: @background;
}

#bluetooth.discovering {
  background: @highlight-aqua;
  color: @background;
}

#bluetooth.pairable {
  background: @highlight-purple;
  color: @background;
}

#battery {
  border-radius: 7px;
  margin-right: 5px;
  margin-left: 10px;
  border-left: 0px;
}

#battery.plugged {
  background: @active;
  color: @background;
}

#battery.charging {
  background: @highlight-yellow;
  color: @background;
}

#battery.warning {
  background: @highlight-orange;
  color: @background;
}

#battery.critical {
  background: @urgent;
  color: @background;
}

#custom-launcher {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 5px;
  padding-right: 12px;
  padding-left: 10px;
}

#custom-pacman {
  border-radius: 7px;
  margin-right: 5px;
}

